<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Covid - 19 Countries </h1>
    <hr>
    <!-- <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate repudiandae praesentium optio esse ab a! Impedit iure, ducimus nesciunt, id unde voluptatibus repudiandae pariatur iste eligendi placeat illum reiciendis! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Fuga dolore similique ullam quo animi eligendi ab assumenda. Expedita delectus ipsam natus quia molestias iste quibusdam, architecto officia modi quaerat facilis.</p>

    <hr class="my-4">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur tempore ducimus nulla quae veniam quia, ad consequuntur maxime natus eveniet aspernatur quasi, eaque ex neque beatae dolor expedita nostrum.</p> -->

    <div class="mx-auto">
        <div class="form-group col-lg-5 mx-auto">
            <label for="c">Select Country</label>
            <select name="" class="form-control" id="c" #input (change)='updateValues(input.value)'>
                <option value="{{con}}" *ngFor="let con of countries">{{con}}</option>
            </select>
        </div>
    </div>
    <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalDeaths]='totalDeaths' [totalRecovered]='totalRecovered'></app-dashboard-card>
    <div class="row">
        <div class="col">
            <google-chart [data]="lineChart"></google-chart>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Serial Number: -
                        </th>
                        <th>
                            Date :-
                        </th>
                        <th>
                            Cases : -
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let cs of selectedCountryData; index as i'>
                        <td>{{i+i}}</td>
                        <td>{{cs.date | date}}</td>
                        <td>{{cs.cases}}</td>
                    </tr>
                </tbody>
            </table>

        </div>





    </div>
</div>